@{
    ViewBag.Title = "About";
}
<!--Section: Main info-->
    <section class="mt-5 wow fadeIn">
        <br />
        <br />
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12 mb-4">


                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

            </div>
        </div>
    </section>
