@{
    ViewBag.Title = "Contact";
}

<!--Section: Main info-->
    <section class="mt-5 wow fadeIn">
        <br />
        <br />
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>

            </div>
        </div>
    </section>
